xml/schema/categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Categories shown in the shop filter bar and admin category manager -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" type="CategoryType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CategoryType">
    <xs:sequence>
      <xs:element name="category_id"  type="xs:positiveInteger"/>
      <xs:element name="name"         type="xs:string"/>
      <xs:element name="description"  type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
