xml/schema/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Orders placed by customers through the shop checkout and tracked in the admin orders page -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" type="OrderType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="order_id"               type="xs:positiveInteger"/>
      <xs:element name="user_id"                type="xs:positiveInteger"/>
      <xs:element name="customer"               type="CustomerType"/>
      <xs:element name="total_amount"           type="xs:decimal"/>
      <xs:element name="status"                 type="OrderStatusType"/>
      <xs:element name="date_ordered"           type="xs:dateTime"/>
      <xs:element name="reservation_expires_at" type="xs:dateTime" minOccurs="0"/><!-- deadline for the customer to upload payment proof -->
      <xs:element name="rejection_reason"       type="xs:string"   minOccurs="0"/><!-- message shown to the customer when admin rejects the order -->
      <xs:element name="items"                  type="ItemsType"/>
      <xs:element name="payment"                type="PaymentType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Buyer details saved at the time of checkout from their profile -->
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="name"    type="xs:string"/>
      <xs:element name="email"   type="xs:string"/>
      <xs:element name="phone"   type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- The clothing items the customer added to cart before checking out -->
  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="item" type="ItemType"
                  minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="product_id"   type="xs:positiveInteger"/>
      <xs:element name="product_name" type="xs:string"/>
      <xs:element name="size"         type="xs:string"  minOccurs="0"/>
      <xs:element name="price"        type="xs:decimal"/>
      <xs:element name="image"        type="xs:anyURI"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- GCash payment submitted by the customer on the payment page -->
  <xs:complexType name="PaymentType">
    <xs:sequence>
      <xs:element name="payment_id"       type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="method"           type="xs:string"/>          <!-- GCash -->
      <xs:element name="reference_number" type="xs:string"           minOccurs="0"/><!-- GCash reference number entered by the customer -->
      <xs:element name="proof_image"      type="xs:anyURI"           minOccurs="0"/><!-- screenshot of the GCash payment uploaded by the customer -->
      <xs:element name="payment_status"   type="PaymentStatusType"/>
      <xs:element name="amount"           type="xs:decimal"/>
      <xs:element name="date_paid"        type="xs:dateTime"         minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Order progress statuses shown on the admin orders page and in the customer my orders panel -->
  <xs:simpleType name="OrderStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending Payment"/>
      <xs:enumeration value="Pending Verification"/>
      <xs:enumeration value="Processing"/>
      <xs:enumeration value="Shipping"/>
      <xs:enumeration value="Shipped"/>
      <xs:enumeration value="Completed"/>
      <xs:enumeration value="Rejected"/>
      <xs:enumeration value="Cancelled"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Payment verification statuses reviewed by the admin -->
  <xs:simpleType name="PaymentStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending Verification"/>
      <xs:enumeration value="Verified"/>
      <xs:enumeration value="Rejected"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
