xml/schema/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================
     products.xsd
     XML Schema Definition for the Carousell Products feed.
============================================================ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" type="ProductType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ── Product ──────────────────────────────────────────────── -->
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="id"          type="xs:positiveInteger"/>
      <xs:element name="name"        type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="price"       type="xs:decimal"/>
      <xs:element name="condition"   type="ConditionType"/>
      <xs:element name="status"      type="ProductStatusType"/>
      <xs:element name="featured"    type="xs:boolean"/>
      <xs:element name="cover_index" type="xs:nonNegativeInteger"/>
      <xs:element name="category_id" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="category"    type="xs:string"          minOccurs="0"/>
      <xs:element name="size_id"     type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="size"        type="xs:string"          minOccurs="0"/>
      <xs:element name="images"      type="ImagesType"/>
      <xs:element name="date_added"  type="xs:dateTime"        minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Images list ───────────────────────────────────────── -->
  <xs:complexType name="ImagesType">
    <xs:sequence>
      <xs:element name="image" type="xs:anyURI"
                  minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Condition enumeration ─────────────────────────────── -->
  <xs:simpleType name="ConditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Like New"/>
      <xs:enumeration value="Excellent"/>
      <xs:enumeration value="Good"/>
      <xs:enumeration value="Fair"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ── Product status enumeration ───────────────────────── -->
  <xs:simpleType name="ProductStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="available"/>
      <xs:enumeration value="reserved"/>
      <xs:enumeration value="sold"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
