xml/schema/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Second-hand clothing items listed in the shop and managed in the admin products page -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" type="ProductType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="id"          type="xs:positiveInteger"/>
      <xs:element name="name"        type="xs:string"/>
      <xs:element name="description" type="xs:string"             minOccurs="0"/>
      <xs:element name="price"       type="xs:decimal"/>
      <xs:element name="condition"   type="ConditionType"/>
      <xs:element name="status"      type="ProductStatusType"/>
      <xs:element name="featured"    type="xs:boolean"/>           <!-- shown in the featured section on the home page -->
      <xs:element name="cover_index" type="xs:nonNegativeInteger"/><!-- which photo in the images list is the product cover -->
      <xs:element name="category_id" type="xs:positiveInteger"    minOccurs="0"/>
      <xs:element name="category"    type="xs:string"             minOccurs="0"/>
      <xs:element name="size_id"     type="xs:positiveInteger"    minOccurs="0"/>
      <xs:element name="size"        type="xs:string"             minOccurs="0"/>
      <xs:element name="images"      type="ImagesType"/>           <!-- product photos uploaded through the admin product form -->
      <xs:element name="date_added"  type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <!-- File paths of photos uploaded for this product -->
  <xs:complexType name="ImagesType">
    <xs:sequence>
      <xs:element name="image" type="xs:anyURI"
                  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Condition labels shown on the product card and product modal -->
  <xs:simpleType name="ConditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Like new"/>
      <xs:enumeration value="Lightly used"/>
      <xs:enumeration value="Well used"/>
      <xs:enumeration value="Heavily used"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Availability status controlled by the admin -->
  <xs:simpleType name="ProductStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="available"/>
      <xs:enumeration value="reserved"/>
      <xs:enumeration value="sold"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
