xml/schema/reviews.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================
     reviews.xsd
     XML Schema Definition for customer reviews.
============================================================ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="reviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="review" type="ReviewType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ReviewType">
    <xs:sequence>
      <xs:element name="review_id"     type="xs:positiveInteger"/>
      <xs:element name="user_id"       type="xs:positiveInteger"/>
      <xs:element name="reviewer_name" type="xs:string"/>
      <xs:element name="product_id"    type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="product_name"  type="xs:string"          minOccurs="0"/>
      <xs:element name="rating"        type="RatingType"/>
      <xs:element name="comment"       type="xs:string"/>
      <xs:element name="date_reviewed" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Rating must be 1–5 -->
  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
