xml/dtd/orders.dtd

<!-- Orders placed by customers through the shop checkout and tracked in the admin orders page -->

<!ELEMENT orders (order*)>

<!ELEMENT order (
  order_id,
  user_id,
  customer,
  total_amount,
  status,
  date_ordered,
  reservation_expires_at?,
  rejection_reason?,
  items,
  payment
)>

<!-- Basic order details shown in the admin orders table -->
<!ELEMENT order_id               (#PCDATA)>
<!ELEMENT user_id                (#PCDATA)>
<!ELEMENT total_amount           (#PCDATA)>
<!ELEMENT status                 (#PCDATA)>
  <!-- Pending Payment | Pending Verification | Processing | Shipping | Shipped | Completed | Rejected | Cancelled -->
<!ELEMENT date_ordered           (#PCDATA)>
<!ELEMENT reservation_expires_at (#PCDATA)>   <!-- deadline for the customer to upload payment proof -->
<!ELEMENT rejection_reason       (#PCDATA)>   <!-- message shown to the customer when admin rejects an order -->

<!-- Buyer details saved at the time of checkout from their profile -->
<!ELEMENT customer (
  name,
  email,
  phone?,
  address?
)>
<!ELEMENT name    (#PCDATA)>
<!ELEMENT email   (#PCDATA)>
<!ELEMENT phone   (#PCDATA)>
<!ELEMENT address (#PCDATA)>

<!-- The clothing items the customer added to cart before checking out -->
<!ELEMENT items  (item*)>
<!ELEMENT item (
  product_id,
  product_name,
  size?,
  price,
  image?
)>
<!ELEMENT product_id   (#PCDATA)>
<!ELEMENT product_name (#PCDATA)>
<!ELEMENT price        (#PCDATA)>
<!ELEMENT image        (#PCDATA)>

<!-- GCash payment submitted by the customer on the payment page -->
<!ELEMENT payment (
  payment_id?,
  method,
  reference_number?,
  proof_image?,
  payment_status,
  amount,
  date_paid?
)>
<!ELEMENT payment_id       (#PCDATA)>
<!ELEMENT method           (#PCDATA)>   <!-- GCash -->
<!ELEMENT reference_number (#PCDATA)>   <!-- GCash reference number entered by the customer -->
<!ELEMENT proof_image      (#PCDATA)>   <!-- screenshot of the GCash payment uploaded by the customer -->
<!ELEMENT payment_status   (#PCDATA)>   <!-- Pending Verification | Verified | Rejected -->
<!ELEMENT amount           (#PCDATA)>
<!ELEMENT date_paid        (#PCDATA)>
