xml/dtd/products.dtd

<!-- Second-hand clothing items listed in the shop and managed in the admin products page -->

<!ELEMENT products (product*)>

<!ELEMENT product (
  id,
  name,
  description,
  price,
  condition,
  status,
  featured,
  cover_index,
  category_id?,
  category?,
  size_id?,
  size?,
  images,
  date_added
)>

<!ELEMENT id          (#PCDATA)>
<!ELEMENT name        (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price       (#PCDATA)>
<!ELEMENT condition   (#PCDATA)>   <!-- Like new | Lightly used | Well used | Heavily used -->
<!ELEMENT status      (#PCDATA)>   <!-- available | reserved | sold -->
<!ELEMENT featured    (#PCDATA)>   <!-- 1 means shown in the featured section on the home page, 0 means not -->
<!ELEMENT cover_index (#PCDATA)>   <!-- which photo in the images list is shown as the product cover -->
<!ELEMENT category_id (#PCDATA)>
<!ELEMENT category    (#PCDATA)>
<!ELEMENT size_id     (#PCDATA)>
<!ELEMENT size        (#PCDATA)>
<!ELEMENT images      (image*)>
<!ELEMENT image       (#PCDATA)>   <!-- file path of a product photo uploaded through the admin product form -->
<!ELEMENT date_added  (#PCDATA)>
