xml/dtd/reviews.dtd

<!-- Customer reviews shown on the shop reviews page, with optional admin reply and photo uploads -->

<!ELEMENT reviews (review*)>

<!ELEMENT review (
  review_id,
  user_id,
  reviewer_name,
  product_id?,
  product_name?,
  product_price?,
  product_image?,
  rating,
  body,
  date_reviewed,
  admin_reply?,
  reply_date?,
  images
)>

<!ELEMENT review_id     (#PCDATA)>
<!ELEMENT user_id       (#PCDATA)>
<!ELEMENT reviewer_name (#PCDATA)>
<!ELEMENT product_id    (#PCDATA)>
<!ELEMENT product_name  (#PCDATA)>   <!-- name of the product the customer bought -->
<!ELEMENT product_price (#PCDATA)>   <!-- price of the product at the time of purchase -->
<!ELEMENT product_image (#PCDATA)>   <!-- cover photo of the product -->
<!ELEMENT rating        (#PCDATA)>   <!-- star rating given by the customer, 1 to 5 -->
<!ELEMENT body          (#PCDATA)>   <!-- the written review text -->
<!ELEMENT date_reviewed (#PCDATA)>
<!ELEMENT admin_reply   (#PCDATA)>   <!-- reply written by the admin from the admin reviews page -->
<!ELEMENT reply_date    (#PCDATA)>
<!ELEMENT images        (review_image*)>
<!ELEMENT review_image  (image_id, path)>
<!ELEMENT image_id      (#PCDATA)>
<!ELEMENT path          (#PCDATA)>   <!-- photo uploaded by the customer along with their review -->
